@import 'tailwindcss';

@layer theme, base, clerk, components, utilities; /* Ensure Clerk is compatible with Tailwind CSS v4 */

@layer base {
  /* Default (Light) */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
  }

  /* Dark Mode */
  .dark ::-webkit-scrollbar-thumb {
    @apply bg-slate-700;
  }
  .dark ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
  }
}
